In [1]:
print("Activating ipynb")
print ("Importing libs")
import os 
import numpy as np
import pandas as pd

Activating ipynb
Importing libs

In [3]:
# Global
years = [x for x in range (2012, 2022)]

In [5]:
# Load Initial Data
print("Loading Initial Game Data")
games_folder_path = "C:/Users/Craig/Documents/Thesis/Thomas_Gallagher_Thesis/Data/AFL_Stats_sorted/Year/Games/"
games_raw_2012 = pd.read_csv(games_folder_path + '2012.csv', index_col=False)
games_raw_2013 = pd.read_csv(games_folder_path + '2013.csv', index_col=False)
games_raw_2014 = pd.read_csv(games_folder_path + '2014.csv', index_col=False)
games_raw_2015 = pd.read_csv(games_folder_path + '2015.csv', index_col=False)
games_raw_2016 = pd.read_csv(games_folder_path + '2016.csv', index_col=False)
games_raw_2017 = pd.read_csv(games_folder_path + '2017.csv', index_col=False)
games_raw_2018 = pd.read_csv(games_folder_path + '2018.csv', index_col=False)
games_raw_2019 = pd.read_csv(games_folder_path + '2019.csv', index_col=False)
games_raw_2020 = pd.read_csv(games_folder_path + '2020.csv', index_col=False)
games_raw_2021 = pd.read_csv(games_folder_path + '2021.csv', index_col=False)

all_games = os.path.join("C:/Users/Craig/Documents/Thesis/Thomas_Gallagher_Thesis/Data/AFL_Stats_sorted/games_sorted.csv")
all_games_raw = pd.read_csv(all_games, index_col=False)

print(all_games)

Loading Initial Game Data
C:/Users/Craig/Documents/Thesis/Thomas_Gallagher_Thesis/Data/AFL_Stats_sorted/games_sorted.csv

In [6]:
# Load Stats
stats_folder_path = "C:/Users/Craig/Documents/Thesis/Thomas_Gallagher_Thesis/Data/AFL_Stats_sorted/Year/Players/"
stats_raw_2012 = pd.read_csv(stats_folder_path + '2012.csv', index_col=False)
stats_raw_2013 = pd.read_csv(stats_folder_path + '2013.csv', index_col=False)
stats_raw_2014 = pd.read_csv(stats_folder_path + '2014.csv', index_col=False)
stats_raw_2015 = pd.read_csv(stats_folder_path + '2015.csv', index_col=False)
stats_raw_2016 = pd.read_csv(stats_folder_path + '2016.csv', index_col=False)
stats_raw_2017 = pd.read_csv(stats_folder_path + '2017.csv', index_col=False)
stats_raw_2018 = pd.read_csv(stats_folder_path + '2018.csv', index_col=False)
stats_raw_2019 = pd.read_csv(stats_folder_path + '2019.csv', index_col=False)
stats_raw_2020 = pd.read_csv(stats_folder_path + '2020.csv', index_col=False)
stats_raw_2021 = pd.read_csv(stats_folder_path + '2021.csv', index_col=False)

all_stats = "C:/Users/Craig/Documents/Thesis/Thomas_Gallagher_Thesis/Data/AFL_Stats_sorted/stats_sorted.csv"
all_stats_raw = pd.read_csv(all_stats, index_col=False)

In [13]:
# for year in years:
#     exec(f'results_{year}["homeWin"] = results_{year}["homeTeamScore"] > results_{year}["awayTeamScore"]')
#     exec(f'y_true_{year} = results_{year}["homeWin"].values')  

games_raw_2012["homeWin"] = games_raw_2012["homeTeamScore"] > games_raw_2012["awayTeamScore"]
games_raw_2013["homeWin"] = games_raw_2013["homeTeamScore"] > games_raw_2013["awayTeamScore"]
games_raw_2014["homeWin"] = games_raw_2014["homeTeamScore"] > games_raw_2014["awayTeamScore"]
games_raw_2015["homeWin"] = games_raw_2015["homeTeamScore"] > games_raw_2015["awayTeamScore"]
games_raw_2016["homeWin"] = games_raw_2016["homeTeamScore"] > games_raw_2016["awayTeamScore"]
games_raw_2017["homeWin"] = games_raw_2017["homeTeamScore"] > games_raw_2017["awayTeamScore"]
games_raw_2018["homeWin"] = games_raw_2018["homeTeamScore"] > games_raw_2018["awayTeamScore"]
games_raw_2019["homeWin"] = games_raw_2019["homeTeamScore"] > games_raw_2019["awayTeamScore"]
games_raw_2020["homeWin"] = games_raw_2020["homeTeamScore"] > games_raw_2020["awayTeamScore"]
games_raw_2021["homeWin"] = games_raw_2021["homeTeamScore"] > games_raw_2021["awayTeamScore"]

y_true_2012 = games_raw_2012['homeWin'].values
y_true_2013 = games_raw_2013['homeWin'].values
y_true_2014 = games_raw_2014['homeWin'].values
y_true_2015 = games_raw_2015['homeWin'].values
y_true_2016 = games_raw_2016['homeWin'].values
y_true_2017 = games_raw_2017['homeWin'].values
y_true_2018 = games_raw_2018['homeWin'].values
y_true_2019 = games_raw_2019['homeWin'].values
y_true_2020 = games_raw_2020['homeWin'].values
y_true_2021 = games_raw_2021['homeWin'].values

all_games_raw['homeWin'] = all_games_raw['homeTeamScore'] > all_games_raw['awayTeamScore']
y_true_all = all_games_raw['homeWin'].values
all_games_raw[:5]

,gameId,year,round,date,venue,startTime,attendance,homeTeam,homeTeamScore,awayTeam,awayTeamScore,rainfall,homeWin
0,2012R101,2012,1,24-Mar-12,Stadium Australia,7:20 PM,38203,Greater Western Sydney,37,Sydney,100,0.0,False
1,2012R102,2012,1,29-Mar-12,M.C.G.,7:45 PM,78285,Richmond,81,Carlton,125,0.0,False
2,2012R103,2012,1,30-Mar-12,M.C.G.,7:50 PM,78466,Hawthorn,137,Collingwood,115,0.0,True
3,2012R104,2012,1,31-Mar-12,M.C.G.,1:45 PM,33473,Melbourne,78,Brisbane Lions,119,0.6,False
4,2012R105,2012,1,31-Mar-12,Carrara,3:45 PM,12790,Gold Coast,68,Adelaide,137,0.0,False

In [14]:
results_clean_2012 = games_raw_2012
results_clean_2012.describe()

         year    attendance  homeTeamScore  awayTeamScore    rainfall
count   207.0    207.000000     207.000000     207.000000  207.000000
mean   2012.0  32747.942029      96.376812      87.347826    2.252174
std       0.0  18335.613605      30.488149      29.316564    5.400394
min    2012.0   6696.000000      37.000000      31.000000    0.000000
25%    2012.0  18922.500000      77.000000      65.500000    0.000000
50%    2012.0  30172.000000      94.000000      86.000000    0.200000
75%    2012.0  41277.000000     114.000000     105.000000    2.000000
max    2012.0  99683.000000     193.000000     180.000000   38.400000

In [ ]:
results_clean_2012.columns
results_clean_2012 = results_clean_2012.drop(['year', 'startTime', 'attendance'], axis=1)
results_clean_2012.columns

a_2012 = results_clean_2012